<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Visits</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.visit_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
